<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>First Angular App</title>
    <meta name="description" content="This is an AngularJS app.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <!-- StoreController -->
  <body ng-controller="StoreController as storeCtrl">
    <div ng-repeat="product in storeCtrl.products | orderBy: 'name'">
      <div ng-hide="product.soldOut">
        <div ng-repeat="image in product.images" ng-show="product.images.length">
          <img ng-src="{{image}}" style="width: 5em;">
        </div>
        <h1> {{product.name | uppercase}} </h1>
        <h2> {{product.price | currency}} </h2>
        <product-panels></product-panels>
        <!-- ReviewForm -->
        <form name="reviewForm" ng-controller="ReviewController as reviewCtrl"
          ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
          <div class="panel">
            <div>
              <p>Stars:{{reviewCtrl.review.stars}}</p>
              <p>Body:{{reviewCtrl.review.body}}</p>
              <p>Author:{{reviewCtrl.review.author}}</p>
            </div>
          </div>
          <label>Stars:</label>
          <select ng-model="reviewCtrl.review.stars" required>
            <option value="1">1 stars</option>
            <option value="2">2 stars</option>
            <option value="3">3 stars</option>
            <option value="4">4 stars</option>
            <option value="5">5 stars</option>
          </select>
          <label>Body:</label>
          <textarea ng-model="reviewCtrl.review.body" required></textarea>
          <label>Author:</label>
          <input type="email" ng-model="reviewCtrl.review.author" required />
          <input type="submit" value="Submit Review" />
        </form>
        <!-- /ReviewForm -->
        <button ng-show="product.canPurchase">Add to Cart</button>
        <hr />
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/products.js"></script>
  </body>
  <!-- /StoreController -->
</html>
